

@font-face {
    font-family: 'Rocket Pop Punch';
    src: url('rocketpop.otf') format('truetype');
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
* {margin: 0; padding: 0}
body {background: #000;}
canvas {display: block;}
body {

    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

.AboutUs {
    text-align: center;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1em;
}

.is-center {
    text-align: center;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px; 
    font-size: 30px; 
    color: #000000; 
}

.pure-button {
    background-color: transparent; 
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 120%;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.splash-container {
    font-family: 'Rocket Pop Punch';
    background: #000000;
    font-weight: none;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed;
}

.splash {
    width: 80%;
    height: 50%;
    margin: 50px auto; 
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1.5em; 
    margin-top: 10%;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    margin-bottom: 30px; 
}

.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.content {
    padding: 1em 1em 3em;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-subhead {
    color: #000000;
}

.content-subhead i {
    margin-right: 7px;
}

.ribbon {
    background: #2d3e50;
    color: #aaa;
}

.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes matrixAnimation {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}
