@font-face {
    font-family: 'Rocket Pop Straight';
    src: url('rocketpopstraight.otf') format('truetype');
}

body {
    font-family: 'Rocket Pop Straight';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: #D0D2DB;
}

#splash {
    text-align: center;
    margin-bottom: 20px;
}

#splash-head {
    font-size: 88px;
}

#mealPlanner {
    text-align: center;
    color: #D0D2DB;
}

h2, p {
    font-size: 24px;
}

#mealOutput {
    margin: 20px 0;
}

#mealName {
    font-size: 28px;
}

#calories {
    font-size: 67px;
}

button {
    background-color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: box-shadow 0.3s;
    font-family: 'Rocket Pop Punch';
}

button:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: black;
    color: #D0D2DB;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.back-button:hover {
    text-decoration: underline;
}
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }
}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}
